<!DOCTYPE html>
<html>
    <head>
        <title>Express</title>
        <link  rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <h1>文書 点</h1>

        <h3>Feel free to generate your document</h3>

        <form method="post" action="/documents">
            <p><input name="id"/> </p>
            <p><input name="lang"/></p>
            <textarea name="query" rows="30" cols="70"></textarea>
            <br/>
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
