body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.right {
    text-align: right;
}

header {
    margin-bottom: 48px;
}

footer {
    margin-top: 48px;
}

.signature {
    margin-left: 36px;
}

.signature > .emph {
    margin-top: 48px;
    font-weight: bold;
}
